/******************/
/* Main Container */
/******************/
.mainContainer {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/**********/
/* Header */
/**********/
.headerContainer {
  width: 100%;
  border: 2px solid magenta;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/******************/
/* Body Container */
/******************/
.bodyContainer {
  display: flex;
  width: 100%;
  flex: 1;
}

/*******************/
/* Collection Page */
/*******************/
.collectionContainer {
  width: 50%;
  border: 2px solid green;
}

.cardImageDisplay {
  width: 50%;
  border: 2px solid orange;
}

/************************/
/* Deck Collection Page */
/************************/
.myDecksContainer {
  width: 33%;
  border: 2px solid green;
}

.deckCollectionContainer {
  width: 33%;
  border: 2px solid green;
}

.deckContainer {
  width: 33%;
  border: 2px solid green;
}