html {
  font-family: Arial !important;
  color: black;
}

div {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

/******************/
/* Main Container */
/******************/
.mainContainer {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/**********/
/* Header */
/**********/
.headerContainer {
  width: 100%;
  border: 2px solid magenta;
  height: 200px;
  line-height: 50px;
  text-align: center;
}

/******************/
/* Body Container */
/******************/
.bodyContainer {
  display: flex;
  width: 100%;
  flex: 1;
}

/*******************/
/* Collection Page */
/*******************/
.collectionContainer {
  width: 50%;
  border: 2px solid green;
}

.cardImageDisplay{
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid orange;
}

/************************/
/* Deck Collection Page */
/************************/
.myDecksContainer {
  width: 33%;
  padding: 10px 10px;
}

.deckCollectionContainer {
  width: 33%;
  padding: 10px 10px;
}

.deckCollectionCardContainer {
  display:flex;
  flex-direction: column;
}

.deckCollectionCardDisplay {
  width: 100%
}

.deckCollectionCardDisplay {
  display: flex;
}

.deckContainer {
  width: 33%;
  padding: 10px 10px;
}

.deckCardDisplay {
}

/**************/
/* Components */
/**************/
.deckCollectionCardDisplay {
  display: flex;
}

.deckCardDisplay {
  display: flex;
}

.cardDisplay {
  padding: 35px 35px;
  font-size: 55px;
  outline: black solid 1px;
  opacity: .5;
  white-space: nowrap;
  width:95%
}

.color_icon {
  width:auto;
  max-height: 30px;
  max-width: 30px;
  height:auto;
}

.addCardBtn {
  height: 75px;
  width:100%;
  max-width:600px;
  margin-left: auto;
  margin-right:auto;
  float:right;
}

.deleteCardBtn {
  height: 75px;
  width:100%;
  max-width:600px;
  margin-left: auto;
  margin-right:auto;
}

img {
  width:100%;
  max-width:600px;
  margin-left: auto;
  margin-right:auto;
}

#addCardBtn {
  height: 75px;
  width:100%;
  max-width:600px;
  margin-left: auto;
  margin-right:auto;
}

#deleteCardBtn {
  height: 75px;
  width:100%;
  max-width:600px;
  margin-left: auto;
  margin-right:auto;
}

/************************************/
/* COOL ASS BUTTONS, FORM, & INPUTS */
/************************************/
form,button,input{
  outline:0; 
  font-size:1em;
  font-weight:600;
  background:lightgray;
  border:none;
  padding:2em 4em;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 brown,
    2px 2px 0 0 brown,
    3px 3px 0 0 brown,
    4px 4px 0 0 brown,
    5px 5px 0 0 brown,
    6px 6px 0 0 brown,
    7px 7px 0 0 brown,
    8px 8px 0 0 brown,
    9px 9px 0 0 brown,
    10px 10px 0 0 brown,
    11px 11px 0 0 brown,
    12px 12px 0 0 brown;
}
form:hover,button:hover,input:hover{
  color:#444;
}
form:active,button:active,input:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 brown,
    2px 2px 0 0 brown,
    3px 3px 0 0 brown,
    4px 4px 0 0 brown,
    5px 5px 0 0 brown;
}

#delFromCollBtn {
  padding: 10px 40px;
  float: right;
}

#addToCollBtn {
  padding: 10px 35px;
  position:absolute;
  top:auto;
  right:50%; /* Positions 50% from right (right edge will be at center) */
  margin-right:150px; /* Positions 200px to the left of center */
}
