html {
  height: 100%;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  font-family: Beleren;
}

h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-weight: 300;}

input[type=text] {
  height: auto;
}

#root {
  outline: green solid 5px;
}

#header {
  height: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(#444444, #333333);
  color: #bbbbbb;
}

.deckBtn {
  width: 150px;
  height: 50px;
}

.color_icon {
  width:auto;
  max-height: 30px;
  max-width: 30px;
  height:auto;
}

.addCardBtn {
  width: auto;
  height: 50px;
}

.deleteCardBtn {
  width: auto;
  height: 50px;
}

.container {
}

.mainContainer {
  display: flex;
  height: calc( 100vh - 30px);
}

.collectionContainer {
  min-width: 700px;
}

.deckContainer {
  flex-direction: column;
}

.myDecksContainer {
  min-width: 700px;
}

.searchDisplay {
}

.collectionsDisplay {
}

.cardImageDisplay {
  display:flex;
  flex-direction: column;
}

.cardFaceDisplay {
  max-width: 500px;
  max-height: 600px;
}

.cardDisplay {
  background: lightcyan;
  max-height: 55px;
  font-size: 55px;
  outline: black solid 1px;
  overflow: hidden;
  padding: 5px;
  opacity: .5;
}


.card {
  
}

::placeholder {
}