body {
  background: white;
}

.color_icon {
  max-width:15px;
  max-height:15px;
}

.addCardBtn {
  width: 50px;
  height: 50px;
}

.deleteCardBtn {
  width: 50px;
  height: 50px;
}

.mainContainer {
  background: lightcoral;
}

.collectionContainer {
  background: lightpink;
}

.searchDisplay {
  background: lightgreen;
}

.collectionsDisplay {
  background: lightsalmon;
}

.cardDisplay {
  background: lightcyan;
}

.card {
  background: orange;
}

::placeholder {
    color: gray;
}